<div class="home">
  <div class="divboxed-wrapper">
    <div class="section">
      <div class="k">2.5k</div>
      <div class="heading-4-container">
        <span class="heading-4-container1">
          <p class="completed">Completed</p>
          <p class="completed">Work</p>
        </span>
      </div>
      <div class="k1">1.7k</div>
      <div class="heading-4-container2">
        <span class="heading-4-container1">
          <p class="completed">Business</p>
          <p class="completed">Covered</p>
        </span>
      </div>
      <div class="div">375</div>
      <div class="heading-4-container4">
        <span class="heading-4-container1">
          <p class="completed">Expert</p>
          <p class="completed">Scientists</p>
        </span>
      </div>
      <div class="m">3.5m</div>
      <div class="heading-4-container6">
        <span class="heading-4-container1">
          <p class="completed">Happy</p>
          <p class="completed">Customers</p>
        </span>
      </div>
    </div>
    <div class="section1">
      <div class="divauto-container">
        <div class="heading-5">CASE STUDIES</div>
        <div class="heading-2">Our successful project</div>
        <img class="divdivider-icon" alt="" src="assets/divdivider@2x.png" />
        <div class="divowl-stage-outer">
          <div class="divinner-box">
            <img class="figure-icon" alt="" src="assets/figure@2x.png" />
            <div class="heading-3">Artificial Intelligence</div>
            <div class="lorem-ipsum-amet-container">
              <span class="lorem-ipsum-amet-container1">
                <p class="completed">
                  Lorem ipsum amet, consectetur adipisicing elit,
                </p>
                <p class="completed">
                  sed do eiusmod tempor incididunt labore et
                </p>
                <p class="completed">dolore magna aliqua.</p>
              </span>
            </div>
            <div class="link">
              <div class="read-more">Read More</div>
            </div>
            <div class="figure">
              <img class="icon-3png" alt="" src="assets/icon3png@2x.png" />
            </div>
          </div>
          <div class="divinner-box">
            <img class="figure-icon" alt="" src="assets/figure1@2x.png" />
            <div class="heading-31">Rebot Technology View</div>
            <div class="lorem-ipsum-amet-container">
              <span class="lorem-ipsum-amet-container1">
                <p class="completed">
                  Lorem ipsum amet, consectetur adipisicing elit,
                </p>
                <p class="completed">
                  sed do eiusmod tempor incididunt labore et
                </p>
                <p class="completed">dolore magna aliqua.</p>
              </span>
            </div>
            <div class="link">
              <div class="read-more">Read More</div>
            </div>
            <div class="figure1">
              <img class="icon-4png" alt="" src="assets/icon4png@2x.png" />
            </div>
          </div>
          <div class="divinner-box">
            <img class="figure-icon" alt="" src="assets/figure2@2x.png" />
            <div class="heading-32">Data Scientest Code</div>
            <div class="lorem-ipsum-amet-container">
              <span class="lorem-ipsum-amet-container1">
                <p class="completed">
                  Lorem ipsum amet, consectetur adipisicing elit,
                </p>
                <p class="completed">
                  sed do eiusmod tempor incididunt labore et
                </p>
                <p class="completed">dolore magna aliqua.</p>
              </span>
            </div>
            <div class="link">
              <div class="read-more">Read More</div>
            </div>
            <div class="figure2">
              <img class="icon-5png" alt="" src="assets/icon5png@2x.png" />
            </div>
          </div>
        </div>
        <div class="button"></div>
        <div class="button1"></div>
        <div class="button2"></div>
        <div class="button3"></div>
        <div class="button4"></div>
      </div>
    </div>
    <div class="section2">
      <div class="heading-51">TEAM MEMBERS</div>
      <div class="heading-21">Our best team person</div>
      <img class="divdivider-icon1" alt="" src="assets/divdivider1@2x.png" />
      <div class="symbol"></div>
      <div class="symbol1"></div>
    </div>
    <div class="section3">
      <img class="divbg-layer-icon" alt="" src="assets/divbglayer@2x.png" />
      <img
        class="divpattern-layer-icon"
        alt=""
        src="assets/divpatternlayer@2x.png"
      />
      <div class="heading-52">CLIENT FAQ’S</div>
      <div class="heading-2-container">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">Questions and answers for</p>
          <p class="completed">common ML queries</p>
        </span>
      </div>
      <img class="divdivider-icon2" alt="" src="assets/divdivider2@2x.png" />
      <div class="link3">
        <div class="more-answer">More Answer</div>
      </div>
      <div class="list-item">
        <div class="divacc-btn">
          <div class="heading-53">
            What is the difference between a Data Scientist, Data Analyst?
          </div>
          <div class="symbol2"></div>
        </div>
        <div class="these-cases-are-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              These cases are perfectly simple and easy to distinguish. In a
              free hour, when our power choice is
            </p>
            <p class="completed">
              untrammelled and when nothing prevents our being able do what we
              like best, every pleasure is to
            </p>
            <p class="completed">be welcomed and every pain avoided.</p>
          </span>
        </div>
      </div>
      <div class="list-item1">
        <div class="divacc-btn1">
          <div class="heading-54">Why focus on Data Science?</div>
          <div class="divicon-outer">
            <div class="symbol3"></div>
          </div>
        </div>
      </div>
      <div class="list-item2">
        <div class="divacc-btn2">
          <div class="heading-55">
            Can i have multiple activities in single feature?
          </div>
          <div class="divicon-outer">
            <div class="symbol3"></div>
          </div>
        </div>
      </div>
      <div class="list-item3">
        <div class="divacc-btn3">
          <div class="heading-53">
            What is the difference between a Data Scientist, Data Analyst?
          </div>
          <div class="divicon-outer">
            <div class="symbol3"></div>
          </div>
        </div>
      </div>
      <div class="link4">
        <div class="symbol6"></div>
      </div>
      <div class="heading-2-container2">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">PRODUCT MAINTENACE</p>
          <p class="completed">AND SUPPORT</p>
        </span>
      </div>
    </div>
    <div class="section4">
      <div class="heading-57">PRICING PLAN</div>
      <div class="heading-22">Our affordable pricing plans</div>
      <img class="divdivider-icon" alt="" src="assets/divdivider@2x.png" />
      <div class="list-item4">
        <div class="heading-6">STARTER PLAN</div>
        <div class="heading-23">$49.66</div>
      </div>
      <div class="list-item5">
        <div class="heading-61">BASIC PLAN</div>
        <div class="heading-24">$69.66</div>
      </div>
      <div class="list-item6">
        <div class="heading-62">ADVANCED PLAN</div>
        <div class="heading-25">$99.66</div>
      </div>
      <div class="divinner">
        <div class="divbar">
          <div class="before"></div>
          <div class="after"></div>
        </div>
        <div class="heading-33">What’s Included in Plan:</div>
        <div class="symbol7"></div>
        <div class="list-item7">Market sizing and share analysis</div>
        <div class="symbol8"></div>
        <div class="list-item8">Product value proposition analysis</div>
        <div class="symbol9"></div>
        <div class="list-item9">Identify strategic partnership</div>
        <div class="symbol10"></div>
        <div class="list-item10">Implementation milestone review</div>
        <div class="symbol11"></div>
        <div class="list-item11">Innovation opportunities</div>
        <div class="symbol12"></div>
        <div class="list-item12">Product value proposition analysis</div>
        <div class="symbol13"></div>
        <div class="list-item13">Distribution channel opportunities</div>
        <div class="symbol14"></div>
        <div class="list-item14">Market sizing & analysis</div>
        <div class="heading-34">Our Business Approach:</div>
        <div class="our-experts-follow-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              Our experts follow the business strategy to grow up
            </p>
            <p class="completed">
              your business and engage more customers to your
            </p>
            <p class="completed">door.</p>
          </span>
        </div>
        <div class="symbol15"></div>
        <div class="list-item-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              Getting to know your business vision its key
            </p>
            <p class="completed">strategic drivers.</p>
          </span>
        </div>
        <div class="symbol16"></div>
        <div class="list-item-container2">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              Getting to know your business vision its key
            </p>
            <p class="completed">strategic drivers.</p>
          </span>
        </div>
        <div class="link5">
          <div class="purchase-now">Purchase Now</div>
        </div>
      </div>
    </div>
    <div class="section5">
      <div class="p">
        <div class="lorem-ipsum-dolor-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incidiunt labore et
            </p>
            <p class="completed">
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            </p>
          </span>
        </div>
      </div>
      <div class="heading-26">Frequently Asked Questions</div>
      <div class="divbar1">
        <div class="before1"></div>
      </div>
      <div class="list-item15">
        <img class="link-icon" alt="" src="assets/link.svg" />
        <div class="link-what">What access do I have on the free plan?</div>
        <div class="lorem-ipsum-dolor-container2">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
            </p>
            <p class="completed">tempor incididunt.</p>
          </span>
        </div>
      </div>
      <div class="list-item16">
        <div class="link-what1">What access do I have on a free trial?</div>
        <img class="link-icon1" alt="" src="assets/link1.svg" />
      </div>
      <div class="list-item17">
        <div class="link-does">
          Does the price go up as my team gets larger?
        </div>
        <img class="link-icon1" alt="" src="assets/link2.svg" />
      </div>
      <div class="list-item18">
        <div class="link-how">How can I cancel my subscription?</div>
        <img class="link-icon1" alt="" src="assets/link3.svg" />
      </div>
      <div class="list-item19">
        <div class="link-can">Can I pay via an Invoice?</div>
        <img class="link-icon1" alt="" src="assets/link4.svg" />
      </div>
      <img class="faqpng-icon" alt="" src="assets/faqpng@2x.png" />
    </div>
    <div class="frame">
      <div class="section6">
        <div class="heading-27">
          Revolutionizing Artificial Intelligence (AI) with Transparency
        </div>
        <div class="with-the-current-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              With the current trends in technology and the growing
              incorporation of Artificial
            </p>
            <p class="completed">Intelligence and Machine Learning</p>
          </span>
        </div>
        <div class="link6">
          <b class="more-detail">More Detail</b>
        </div>
        <div class="link7">
          <div class="get-started">Get Started</div>
        </div>
      </div>
      <div class="section-list-item-link">
        <div class="symbol17"></div>
      </div>
      <div class="section-list-item-link1">
        <div class="symbol18"></div>
      </div>
      <div class="section-list-item-link2">
        <div class="symbol19"></div>
      </div>
      <div class="section-list-item-link3">
        <div class="symbol19"></div>
      </div>
      <img
        class="header-figure-link-logo-"
        alt=""
        src="assets/header--figure--link--logo4png@2x.png"
      />
      <div class="header">
        <div class="nav-list">Home</div>
        <div class="nav-list1">Company</div>
        <div class="nav-list2">Services</div>
        <div class="nav-list3">Works</div>
        <div class="nav-list4">Blog</div>
        <div class="button5">
          <div class="symbol21"></div>
        </div>
      </div>
    </div>
    <div class="frame1">
      <div class="section-heading">TECHNOLOGY</div>
      <div class="section-heading-container">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">Any enough advanced</p>
          <p class="completed">technology is unclear</p>
          <p class="completed">from magi</p>
        </span>
      </div>
      <img class="section-icon" alt="" src="assets/divdivider1@2x.png" />
      <div class="section-must-container">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">
            Must explain to you how all this mistaken idea of pleasure and
          </p>
          <p class="completed">
            praising pain was born and will give you a complete account of
          </p>
          <p class="completed">the system, and expound the actual teachings.</p>
        </span>
      </div>
      <div class="symbol22"></div>
      <div class="section-list">Idea of denouncing pleasure & praising</div>
      <div class="symbol23"></div>
      <div class="section-list1">Ever undertakes laborious physical</div>
      <div class="symbol24"></div>
      <div class="section-list2">Avoids a pain that produces no resultant</div>
      <div class="section-link">
        <div class="more-services">More Services</div>
      </div>
      <div class="section7">
        <div class="divinner-box3">
          <img
            class="figure-icon-8png"
            alt=""
            src="assets/figure--icon8png@2x.png"
          />
          <div class="symbol25"></div>
          <div class="heading-35">Video Vision</div>
          <div class="simple-easy-distinguish-container">
            <span class="lorem-ipsum-amet-container1">
              <p class="completed">Simple easy distinguish when</p>
              <p class="completed">our power right.</p>
            </span>
          </div>
          <img class="image-1-icon" alt="" src="assets/image-1@2x.png" />
        </div>
        <div class="divinner-box3">
          <img
            class="figure-icon-8png"
            alt=""
            src="assets/figure--icon8png@2x.png"
          />
          <div class="symbol25"></div>
          <div class="heading-36">Computer Version</div>
          <div class="claims-duty-the-container">
            <span class="lorem-ipsum-amet-container1">
              <p class="completed">Claims duty the obligations of</p>
              <p class="completed">busines it will occur.</p>
            </span>
          </div>
          <img class="image-2-icon" alt="" src="assets/image-2@2x.png" />
        </div>
      </div>
    </div>
    <div class="frame2">
      <img
        class="section-figure-about-2png"
        alt=""
        src="assets/section--figure--about2png@2x.png"
      />
      <div class="section-heading1">ABOUT COMPANY</div>
      <div class="section-heading-container2">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">Mission is to bring force of</p>
          <p class="completed">simulated intelligence to business</p>
        </span>
      </div>
      <img class="section-icon1" alt="" src="assets/divdivider1@2x.png" />
      <div class="section-to-container">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">
            To take a trivial example, which of us ever undertakes laborious
            physical
          </p>
          <p class="completed">
            exercise, except to obtain some advantage from it but right to find
            fault
          </p>
          <p class="completed">
            with a man who chooses enjoy.for your business work.
          </p>
        </span>
      </div>
      <div class="section-which-container">
        <span class="lorem-ipsum-amet-container1">
          <p class="completed">
            Which of us ever undertakes laborious physical exercise,
          </p>
          <p class="completed">
            except to obtain advantage from it who do not know how to
          </p>
          <p class="completed">pursue pleasure.</p>
        </span>
      </div>
      <div class="section-link1">
        <div class="more-about">More About</div>
      </div>
    </div>
    <div class="frame3">
      <div class="section8">
        <div class="list-item20">
          <img
            class="link-clients-logo-11png"
            alt=""
            src="assets/link--clientslogo11png@2x.png"
          />
        </div>
        <div class="list-item21">
          <img
            class="link-clients-logo-12png"
            alt=""
            src="assets/link--clientslogo12png@2x.png"
          />
        </div>
        <div class="list-item22">
          <img
            class="link-clients-logo-13png"
            alt=""
            src="assets/link--clientslogo13png@2x.png"
          />
        </div>
        <div class="list-item23">
          <img
            class="link-clients-logo-14png"
            alt=""
            src="assets/link--clientslogo14png@2x.png"
          />
        </div>
        <div class="list-item24">
          <img
            class="link-clients-logo-11png"
            alt=""
            src="assets/link--clientslogo15png@2x.png"
          />
        </div>
      </div>
      <div class="footer">
        <img class="divpattern-1-icon" alt="" src="assets/divpattern1@2x.png" />
        <img class="divpattern-2-icon" alt="" src="assets/divpattern2@2x.png" />
        <img
          class="figure-link-logo-4png"
          alt=""
          src="assets/header--figure--link--logo4png@2x.png"
        />
        <div class="we-will-likely-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">We will likely assistance organizations</p>
            <p class="completed">keep up accomplish best class positions</p>
            <p class="completed">their separate enterprises & our group</p>
            <p class="completed">works happen that delights need to be</p>
            <p class="completed">disavowed.</p>
          </span>
        </div>
        <div class="list-item-link">
          <div class="symbol27"></div>
        </div>
        <div class="list-item-link1">
          <div class="symbol28"></div>
        </div>
        <div class="list-item-link2">
          <div class="symbol29"></div>
        </div>
        <div class="list-item-link3">
          <div class="symbol29"></div>
        </div>
        <div class="heading-37">Latest Work</div>
        <img
          class="list-item-figure"
          alt=""
          src="assets/list--item--figure@2x.png"
        />
        <img
          class="list-item-figure1"
          alt=""
          src="assets/list--item--figure1@2x.png"
        />
        <img
          class="list-item-figure2"
          alt=""
          src="assets/list--item--figure2@2x.png"
        />
        <img
          class="list-item-figure3"
          alt=""
          src="assets/list--item--figure3@2x.png"
        />
        <img
          class="list-item-figure4"
          alt=""
          src="assets/list--item--figure4@2x.png"
        />
        <img
          class="list-item-figure5"
          alt=""
          src="assets/list--item--figure5@2x.png"
        />
        <div class="heading-38">Useful Links</div>
        <div class="list-item-link4"></div>
        <div class="list-item25">Advertising & Marketing</div>
        <div class="list-item-link5"></div>
        <div class="list-item26">Healthcare & Medicine</div>
        <div class="list-item-link6"></div>
        <div class="list-item27">Financials & Banking</div>
        <div class="list-item-link7"></div>
        <div class="list-item28">Data Warehousing</div>
        <div class="list-item-link8"></div>
        <div class="list-item29">Travel & Hospitality</div>
        <div class="list-item-link9"></div>
        <div class="list-item30">Media & Entertainment</div>
        <div class="heading-39">Contact Us</div>
        <div class="list-item31">Office Location</div>
        <div class="list-item32">124, Queens walk 2nd cross Denmark</div>
        <div class="list-item33">Phone No.</div>
        <div class="list-item34">+00-888-27-240</div>
        <div class="list-item35">Email Address</div>
        <div class="list-item36">support&#64;info.com</div>
      </div>
      <div class="footer1">
        <div class="copyright-bithlo">
          Copyright © Bithlo, All Rights Reserved.
        </div>
        <div class="list-item37">Privacy Policy</div>
        <div class="list-item38"></div>
        <div class="list-item39">Terms & Conditions</div>
        <div class="button6">
          <div class="symbol31"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame4">
    <div class="divmember-img-parent">
      <img class="divmember-img-icon" alt="" src="assets/divmemberimg@2x.png" />
      <div class="heading-58">Cameron Williamson</div>
      <div class="founder-ceo">Founder & CEO</div>
      <img
        class="divmember-img-icon1"
        alt=""
        src="assets/divmemberimg1@2x.png"
      />
      <div class="heading-59">Jacob Jones</div>
      <div class="product-manager">Product Manager</div>
      <img
        class="divmember-img-icon2"
        alt=""
        src="assets/divmemberimg2@2x.png"
      />
      <div class="heading-510">Esther Howards</div>
      <div class="marketing-head">Marketing Head</div>
      <img
        class="divmember-img-icon3"
        alt=""
        src="assets/divmemberimg3@2x.png"
      />
      <div class="heading-511">Robert Fox</div>
      <div class="team-head">Team Head</div>
    </div>
  </div>
  <div class="section9">
    <div class="divcontainer">
      <div class="p1">
        <div class="lorem-ipsum-dolor-container">
          <span class="lorem-ipsum-amet-container1">
            <p class="completed">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incidiunt labore et
            </p>
            <p class="completed">
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            </p>
          </span>
        </div>
      </div>
      <b class="heading-2-container4">
        <span class="lorem-ipsum-amet-container1">
          <span>What Our </span>
          <span class="clients">Clients</span>
          <span> Says</span>
        </span>
      </b>
      <div class="divbar1">
        <div class="before1"></div>
      </div>
      <div class="button7"></div>
      <div class="button8"></div>
      <div class="button9"></div>
      <div class="divowl-stage-outer1">
        <img
          class="iflaticon-left-quotes-sign"
          alt=""
          src="assets/iflaticonleftquotessign.svg"
        />
        <div class="p2">
          <i class="lorem-ipsum-dolor-container6">
            <span class="lorem-ipsum-amet-container1">
              <p class="completed">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <p class="completed">
                aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan lacus vel facilisis. Lorem
              </p>
              <p class="completed">
                Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard
              </p>
              <p class="completed">
                dummy text ever since the 1500s, when an unknown printer took a
                galley
              </p>
            </span>
          </i>
        </div>
        <b class="heading-310">Moris Jacker</b>
        <div class="web-developer">Web Developer</div>
        <div class="before3"></div>
      </div>
    </div>
  </div>
</div>
